/*****CAROUSEL*******/

.carosello {
	width: 100%;
	height: 75vw;
	position: relative;
}

.carosello-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.carosello-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s;
	object-fit: contain;
}

.carosello-container img.active {
	opacity: 1;
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #800080,
			0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}

	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
			0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}

.carosello .btn {
	background-color: #F594A3;
	color: #FFE5D9;
	border-radius: 10px;
	text-align: center;
	font-family: ragiel-bold;

	border-radius: 10px;
	font-family: ragiel-bold;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;

	height: fit-content;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 15px 20px 10px 20px;
}

@media screen and (max-width: 800px) {

	.carosello .carosello-img {
		max-width: 200%;
		max-height: 200%;
	}
}

/************/