/*****CAROUSEL*******/

.carosello {
	position: relative;
	overflow: hidden;
	margin: auto;
	box-shadow: 0px 5px 10px #000, 0px 0px 0px #fff;
  }
  
  .carosello > * {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: cover;
	margin: 0 auto;
  }
  
  /* Slide animations */
  .carosello > *:nth-child(1) {
	animation: fade1 40s infinite;
  }
  @keyframes fade1 {
	0% {
	  opacity: 1;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  .carosello > *:nth-child(2) {
	animation: fade2 40s infinite;
  }
  @keyframes fade2 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 1;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(3) {
	animation: fade3 40s infinite;
  }
  @keyframes fade3 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(4) {
	animation: fade4 40s infinite;
  }
  @keyframes fade4 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 1;
	}
	80% {
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(5) {
	animation: fade5 40s infinite;
  }
  @keyframes fade5 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(6) {
	animation: fade6 40s infinite;
  }
  @keyframes fade6 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(7) {
	animation: fade7 40s infinite;
  }
  @keyframes fade7 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(8) {
	animation: fade8 40s infinite;
  }
  @keyframes fade8 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(9) {
	animation: fade9 40s infinite;
  }
  @keyframes fade9 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(10) {
	animation: fade10 40s infinite;
  }
  @keyframes fade10 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(11) {
	animation: fade11 40s infinite;
  }
  @keyframes fade11 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(12) {
	animation: fade12 40s infinite;
  }
  @keyframes fade12 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(13) {
	animation: fade13 40s infinite;
  }
  @keyframes fade13 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(14) {
	animation: fade14 40s infinite;
  }
  @keyframes fade14 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(15) {
	animation: fade15 40s infinite;
  }
  @keyframes fade15 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(16) {
	animation: fade16 40s infinite;
  }
  @keyframes fade16 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(17) {
	animation: fade17 40s infinite;
  }
  @keyframes fade17 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(18) {
	animation: fade18 40s infinite;
  }
  @keyframes fade18 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(19) {
	animation: fade19 40s infinite;
  }
  @keyframes fade19 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(20) {
	animation: fade20 40s infinite;
  }
  @keyframes fade20 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(21) {
	animation: fade21 40s infinite;
  }
  @keyframes fade21 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(22) {
	animation: fade22 40s infinite;
  }
  @keyframes fade22 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(23) {
	animation: fade23 40s infinite;
  }
  @keyframes fade23 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(24) {
	animation: fade24 40s infinite;
  }
  @keyframes fade24 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(25) {
	animation: fade25 40s infinite;
  }
  @keyframes fade25 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(26) {
	animation: fade26 40s infinite;
  }
  @keyframes fade26 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(27) {
	animation: fade27 40s infinite;
  }
  @keyframes fade27 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(28) {
	animation: fade28 40s infinite;
  }
  @keyframes fade28 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(29) {
	animation: fade29 40s infinite;
  }
  @keyframes fade29 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(30) {
	animation: fade30 40s infinite;
  }
  @keyframes fade30 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(31) {
	animation: fade31 40s infinite;
  }
  @keyframes fade31 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(32) {
	animation: fade32 40s infinite;
  }
  @keyframes fade32 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(33) {
	animation: fade33 40s infinite;
  }
  @keyframes fade33 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(34) {
	animation: fade34 40s infinite;
  }
  @keyframes fade34 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(35) {
	animation: fade35 40s infinite;
  }
  @keyframes fade35 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(36) {
	animation: fade36 40s infinite;
  }
  @keyframes fade36 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(37) {
	animation: fade37 40s infinite;
  }
  @keyframes fade37 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(38) {
	animation: fade38 40s infinite;
  }
  @keyframes fade38 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .carosello > *:nth-child(39) {
	animation: fade39 40s infinite;
  }
  @keyframes fade39 {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	60% {
	  opacity: 0;
	}
	80% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }

  @keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #800080,
		0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
		0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
  }
  
  .carosello .btn {
	background-color: #F594A3;
	color: #FFE5D9;
	border-radius: 10px;
	text-align: center;
	font-family: ragiel-bold;
  
	border-radius: 10px;
	font-family: ragiel-bold;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
  
	height:fit-content;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 15px 20px 10px 20px;
  }
  
  .carosello .carosello-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  @media screen and (max-width: 800px) {
	
	.carosello .carosello-img {
	  max-width: 200%;
	  max-height: 200%;
	}
  }
  
  /************/